@media (max-width: 768px) {
    body {
      flex: 1;
      font-size: 14px;
      background-color: #fff;
    }
}

body{
    background-color: rgb(238, 226, 161);
}

h1{
    text-align: center;
    color:blueviolet;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: bisque;
}

form {
    max-width: 350px;
    margin: 0 auto;
    background-color: aliceblue;
}

th, td {
    padding: 8px;
    border: 2px solid #246555;
    
}


input[type="text"],
textarea {
    width: 100%;
    margin-bottom: 8px;
    padding: 4px;
    background-color: beige;
    
}
